In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('model_Chennai_trainer.csv')
#Model Building preprocessing for inputs
dummies = pd.get_dummies(df.Location).astype(int)          # generating 1 hot encoding for Locations
dummies

,Adambakkam,Adyar,Alwarpet,Ambattur,Anna Nagar,Avadi,Ayanambakkam,Ayapakkam,Choolaimedu,Chromepet,...,Valasaravakkam,Vanagaram,Vandalur,Velachery,Velappanchavadi,Vellakkal,Vengaivasal,Virugambakkam,West Tambaram,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2850,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2851,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2852,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2853,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2854,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [2]:
df = pd.concat([df,dummies.drop('other', axis='columns')], axis = 'columns')
df.head()                             #df9 holds the Locations as 1 hot encoded values

,Location,size,Area,Price,area_per_bhk,price_per_area,Adambakkam,Adyar,Alwarpet,Ambattur,...,Vadapalani,Valasaravakkam,Vanagaram,Vandalur,Velachery,Velappanchavadi,Vellakkal,Vengaivasal,Virugambakkam,West Tambaram
0,Adambakkam,1,560,2800000,560.000000,5000.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Adambakkam,2,1000,8000000,500.000000,8000.000000,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Adambakkam,3,1293,10000000,431.000000,7733.952049,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Adambakkam,3,1355,10700000,451.666667,7896.678967,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Adambakkam,3,1355,10700000,451.666667,7896.678967,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df = df.drop(['Location', 'area_per_bhk', 'price_per_area'], axis='columns')
df.head()             #df10 is the final df before separating to output and input features

,size,Area,Price,Adambakkam,Adyar,Alwarpet,Ambattur,Anna Nagar,Avadi,Ayanambakkam,...,Vadapalani,Valasaravakkam,Vanagaram,Vandalur,Velachery,Velappanchavadi,Vellakkal,Vengaivasal,Virugambakkam,West Tambaram
0,1,560,2800000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1000,8000000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1293,10000000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1355,10700000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,1355,10700000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X = df.drop('Price', axis='columns')    # input features
X.head()

,size,Area,Adambakkam,Adyar,Alwarpet,Ambattur,Anna Nagar,Avadi,Ayanambakkam,Ayapakkam,...,Vadapalani,Valasaravakkam,Vanagaram,Vandalur,Velachery,Velappanchavadi,Vellakkal,Vengaivasal,Virugambakkam,West Tambaram
0,1,560,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1293,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1355,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3,1355,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
Y = df.Price
Y.head()

0     2800000
1     8000000
2    10000000
3    10700000
4    10700000
Name: Price, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.svm import SVR

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=10)

In [7]:
LR = LinearRegression()
LR.fit(X_train, Y_train)
LR.score(X_test, Y_test)

0.731892929487704

In [8]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(LinearRegression(), X, Y, cv=cv)

array([0.7148237 , 0.78517086, 0.68576719, 0.75460773, 0.72658802])

In [9]:
def best_model_using_gridsearchcv(X, Y):
    algos = {
    'Linear_Regression': {
        'model': LinearRegression(),
        'Parameters': {}
    },
    'Lasso': {
        'model': Lasso(),
        'Parameters': {'alpha': [1, 2], 'selection': ['random', 'cyclic']}
    },
    'Decision_Tree': {
        'model': DecisionTreeRegressor(),
        'Parameters': {'criterion': ['squared_error', 'friedman_mse', 'absolute_error', 'poisson'], 'splitter': ['best', 'random']}
    },
    'Random_Forest': {
        'model': RandomForestRegressor(),
        'Parameters': {'n_estimators': [50, 100], 'max_depth': [None, 10, 20]}
    },
    'Gradient_Boosting': {
        'model': GradientBoostingRegressor(),
        'Parameters': {'n_estimators': [100, 200], 'learning_rate': [0.01, 0.1]}
    },
    'XGBoost': {
        'model': XGBRegressor(),
        'Parameters': {'n_estimators': [100, 200], 'learning_rate': [0.01, 0.1]}
    },
    'SVR': {
        'model': SVR(),
        'Parameters': {'kernel': ['linear', 'rbf'], 'C': [1, 10]}
    }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)   
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'], config['Parameters'], cv=cv, return_train_score=False)
        gs.fit(X, Y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_,
            'best_estimator': gs.best_estimator_
        })
    
    scores_df = pd.DataFrame(scores, columns=['model', 'best_score', 'best_params', 'best_estimator'])
    best_model_row = scores_df.loc[scores_df['best_score'].idxmax()]
    best_model_instance = best_model_row['best_estimator']
    return scores_df, best_model_instance  # Return both scores and the best model

scores_df, best_model = best_model_using_gridsearchcv(X_train, Y_train)


# Display the scores DataFrame
scores_df

,model,best_score,best_params,best_estimator
0,Linear_Regression,0.684594,{},LinearRegression()
1,Lasso,0.684598,"{'alpha': 2, 'selection': 'cyclic'}",Lasso(alpha=2)
2,Decision_Tree,0.561521,"{'criterion': 'absolute_error', 'splitter': 'r...",DecisionTreeRegressor(criterion='absolute_erro...
3,Random_Forest,0.676064,"{'max_depth': 10, 'n_estimators': 50}","(DecisionTreeRegressor(max_depth=10, max_featu..."
4,Gradient_Boosting,0.715310,"{'learning_rate': 0.1, 'n_estimators': 200}",([DecisionTreeRegressor(criterion='friedman_ms...
5,XGBoost,0.685909,"{'learning_rate': 0.1, 'n_estimators': 200}","XGBRegressor(base_score=None, booster=None, ca..."
6,SVR,0.497185,"{'C': 10, 'kernel': 'linear'}","SVR(C=10, kernel='linear')"

In [40]:
def predict_price(Location, size, Area):
    loc_index = np.where(X.columns==Location)[0][0]
    x=np.zeros(len(X.columns))
    x[0] = size
    x[1] = Area
    if loc_index >= 0:
        x[loc_index] = 1
    return LR.predict([x])[0]

In [42]:
predict_price('Medavakkam', 2, 900)

C:\Users\sunde\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

5585534.895794302

In [32]:
def predict_price_bestmodel(Location, size, Area, model=best_model):
    loc_index = np.where(X.columns==Location)[0][0]
    x=np.zeros(len(X.columns))
    x[0] = size
    x[1] = Area
    if loc_index >= 0:
        x[loc_index] = 1
    return model.predict([x])[0]

In [34]:
predict_price_bestmodel('Medavakkam', 2, 900)

C:\Users\sunde\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

5018860.247570573